#background{
    /* background: url("../../assets/images/headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto;  */
    background-size: 100% 500px;
    
    color: white;
    /* Hide overflow on top */
    overflow: hidden;
    display: block;
    height: 500px;

    margin-bottom: 50px;
}
#background video{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#header{
    position: absolute;
    top: 0;
}
#content{
    position: absolute;
    top: 150px;
    padding-left: 80px;
}
#header button{
    background-color: transparent;
    
    font-size: 20px;
    color: white;

    border: none;
    float: right;
    cursor: pointer;
  }
#navigation{
    margin-top: 20px;
}
#navigation button {
    color: white;
    background-color: Transparent;
    
    cursor:pointer;
    overflow: hidden;
  
    /* Border */
    border: 1px solid black;
    border-color: white;
  
    /* Spacing between buttons */
    margin-right: 10px;
    margin-bottom: 5px;
    
    /* Size */
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}
#filter{
    background-color: Transparent;
    color: white;
    width: 300px;
}
#footer{
    position: absolute;
    top: 450px;
    right: 10px;    
}
/* --- Responsive Features --- */
@media only screen and (max-width: 700px){
    #background video{
        width: auto;
        height: 500px;
        /* transform: translateX(-20%); */
    }
    #content{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 500px){
    #header{
        margin-bottom: 30px;
    }
    #content{
        padding-right: 50px;
    }
    #content h5{
        font-size: 12pt;
    }
    #content h2{
        font-size: 16pt;
    }
}





/*
.flRight{
    float: right;
}
#fileButton{
    background-color: transparent;
    color: white;
    border: none;
}


#background{
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: auto 400px;
    
    color: white;
    overflow: hidden;
    display: block;
    height: 400px;
}
#content{
    position: absolute;
    top: 150px;
    padding-left: 80px;
}
#header button{
    background-color: transparent;
    
    font-size: 20px;
    color: white;

    border: none;
    float: right;
    cursor: pointer;
  }
#navigation{
    margin-top: 20px;
}
#navigation button {
    color: white;
    background-color: Transparent;
    
    cursor:pointer;
    overflow: hidden;
  
    border: 1px solid black;
    border-color: white;
  
    margin-right: 10px;
    margin-bottom: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}
#filter{
    background-color: Transparent;
    color: white;
    width: 300px;
}
#background h1{
    margin-left: 20px;
    margin-top: 40px;
}
#navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
*/