/* General */
.flRight{
    float: right;
}

/* Background */
#background{
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 25%;
    /* background-position: left; */
    
    position: relative;

    color: white;
    overflow: hidden;
    display: block;
    height: 50vh;
    /* margin-bottom: 50px; */
    /* width: 100%; */
}
#background h1{
    margin-left: 20px;
    margin-top: 40px;
}
/* Navbar */
#navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* margin-bottom: 50px; */
    /* float: bottom; */

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}