<div>
  <h1 id="prints">Prints</h1>
  <select #select (change)="getData(select.value)">
    <option *ngFor="let s of selections" value="{{ s[1] }}">{{ s[0] }}</option>
  </select>

  <table id="history" *ngIf="historyExists">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th id="name">Name</th>
        <!-- <th>Length</th> -->
        <!-- <th>Weight</th> -->
        <th>Time</th>
        <th>Price</th>
      </tr>
      
      <!-- TODO: Onclick: Expand and show more data about print -->
      <!-- TODO: Show status, date_until, date_done, etc -->


      <!-- TODO: Make elements clickable and show more information in popup -->
      <tr *ngFor="let h of history" id="{{ h.getId() }}">
        <td>{{ h.getDate() }}</td>
        <td>{{ h.getAmount() }}</td>
        <td>{{ h.getName() }}</td>
        <!-- <td>{{ h.getLength() }} m</td> -->
        <!-- <td>{{ h.getWeight() }} g</td> -->
        <td id="time">{{ h.getTime() }} h</td>
        <td id="price">{{ h.getPrice() }} €</td>
      </tr>
    </table>
</div>