/* General */
#prints{
    display: inline-block;
    padding-right: 15px;
}
select{
    border: none;
    font-size: 16px;
}

/* Table */
#history{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#history td,  #history th{
    border: 1px solid #ddd;
    padding: 8px;
}
#history tr:nth-child(even){
    background-color: #f2f2f2;
}
#history tr:hover {
    background-color: #ddd;
}
#history th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #699BEA;
  color: white;
}
#name{
    text-align: left;
}


 /* Popup container */
 .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 