<form class="w3-container w3-padding">
  <label class="w3-text-teal"><b>Username</b></label>
  <input #loginUsername class="w3-input" (keyup.enter)="Login(loginUsername.value, loginPassword.value)" type="username">
  <br>

  <label class="w3-text-teal"><b>Password</b></label>
  <input #loginPassword class="w3-input" (keyup.enter)="Login(loginUsername.value, loginPassword.value)" type="password">
  <br>

  <button type="button" class="w3-btn darker-grey" (click)="Login(loginUsername.value, loginPassword.value)">Login</button>
</form>