<h1>Users</h1>
<!-- TODO: only show users with status "User" or higher -->
<div class="w3-card w3-hover-shadow">
  <div (click)="show = !show" class="w3-container">
    <h2>Oliver Benz</h2>
  </div>

  <div *ngIf="show" class="w3-container">
    <div class="w3-col s6 m6 l4">
        <h5>E-Mail: oliver.benz@outlook.com</h5>
    </div>
    <div class="w3-col s6 m6 l4">
        <select id="group" #select>
            <option *ngFor="let g of groups" value="{{ g[0] }}">{{ g[1] }}</option>
        </select>
    </div>
    
  </div>
</div>