<h1 id="prints">Users</h1>
<select #getGroup id="group" (change)="getUsers(getGroup.value)">
  <option *ngFor="let g of groups" value="{{ g[0] }}">{{ g[1] }}</option>
</select>
<br>

<div class="w3-card w3-hover-shadow" *ngFor="let u of users">
  <div (click)="toggleCollapse(u.getId())" class="w3-container header">
    <h4>{{u.getName()}}</h4>
  </div>
  <div *ngIf="checkShow(u.getId())" class="w3-container content">
    <!-- Content Left -->
    <div class="w3-col s6 m6 l4 left">
      <p>{{u.getEmail()}}</p>
    </div>

    <!-- Content Right -->
    <div class="w3-col s6 m6 l4 right">
      <select #uGroup id="userStatus" (change)="changeGroup(u.getId(), uGroup.value)">
        <option *ngFor="let g of groups" value="{{ g[0] }}">{{ g[1] }}</option>
      </select>
    </div>
  </div>
</div>