<div class="wrapper">
  <form id="printForm" class="w3-container w3-padding">
    <div class="w3-col s12 m12 l4" >
      <label class="w3-text-teal" ><b>File Name</b></label>
      <input #filename id="filename" (keyup)="checkFilename(filename.value)" class="w3-input" type="string">
      <br>
    </div>
    
    <!-- <div class="w3-col s12 m12 l4" >
      <label class="w3-text-teal" ><b>File</b></label>
      <input #file id="file" type="file">
    </div> -->
    <!-- TODO: Read filename if correct format and auto insert -->

    <div class="w3-col s12 m6 l4" *ngFor="let i of inputList">
      <label class="w3-text-teal"><b>{{ i[0] }}</b></label>
      <input id="{{ i[1] }}" class="w3-input" type="{{ i[2] }}">
      <br>
    </div>
  
    <button type="button" class="w3-btn darker-grey" (click)="submit()">Sumbit</button>
  </form>
</div>