<div>
  <form class="w3-container w3-padding">
    <label class="w3-text-teal"><b>Email</b></label>
    <input #loginEmail class="w3-input" (keyup.enter)="Login(loginEmail.value, loginPassword.value)" type="username">
    <br>
  
    <label class="w3-text-teal"><b>Password</b></label>
    <input #loginPassword class="w3-input" (keyup.enter)="Login(loginEmail.value, loginPassword.value)" type="password">
    <br>
  
    <button type="button" class="w3-btn darker-grey" (click)="Login(loginEmail.value, loginPassword.value)">Login</button>
  </form>
</div>