<div id="wrapper">
  <h1>Printer Queue</h1>

  <table id="history" *ngIf="prints">
    <tr>
      <th>Name</th>
      <th>Length</th>
      <th>Weight</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let q of queue" id="{{ q.getId() }}">
      <td id="name">{{ q.getName() }}</td>
      <td>{{ q.getLength() }} m</td>
      <td>{{ q.getWeight() }} g</td>
      <td>{{ q.getTime() }} h</td>
      <td>{{ q.getPrice() }} €</td>
    </tr>
  </table>

  <h1 id="noprints" *ngIf="!prints">No prints in queue</h1>
</div>